main {
  flex: 1;
  display: grid;
  place-content: center;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--secondary-color);
  gap: 0.5rem;
  z-index: 4;
}

.gameFinished {
  z-index: 4;
  position: absolute;
  margin-top: 8rem;
  margin-left: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.won {
  margin-left: 4.3rem;
}

.gameFinished h1 {
  font-size: 4rem;
}

.gameFinished div {
  font-size: 2rem;
  width: 15rem;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.gameFinished div:hover {
  color: white;
  background-color: rgb(62, 62, 62);
  cursor: pointer;
}

.tie {
  margin-left: 2rem;
}

.counts {
  z-index: 0;
}

.counts ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 2.6rem;
  margin-top: 1rem;
}

.counts li{
  list-style: none;
  padding: 1rem;
}

.counter {
  background: rgb(228, 228, 228);
  border-radius: 5rem;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 720px) and (min-height: 360px){
  main {
    margin-top: -11rem;
  }
  .gameFinished {
    margin-top: 11rem;
    margin-left: -3rem;
  }
  .gameFinished h1 {
    font-size: 2.3rem;
  }
  .gameFinished div {
    font-size: 1.7rem;
    width: 11rem;
    margin-top: 1rem;
  }
  .lose {
    margin-left: 2rem;
  }
  .counts {
    margin-top: -23rem;
  }
  .counts ul{
    margin: 0;
    margin-left: 0.86rem;
  }
  .counts li{
    margin: 0;
    padding: 6px;
  }
}
